.top-div h1{
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight:bold;
}
.top-div h3{
    text-align: center;
}
img{
    width: 100%;
}
.right-div h3{
    font-weight:bold;
    text-decoration: underline;
    padding-bottom: 10px;
}
.right-div p{
    line-height: 2em;
    font-size: 20px;
}
.right-div h4{
    font-weight: bold;
    text-decoration: underline;
}
.right-div ul{
    list-style-type: disc;
    font-size: 25px;
}
.right-div i:hover{
    color: #0b2e13;
}
.right-div i:visited{
    color: red;
}